/* Main bg color */
body { background: #d8d8d8; }

/* BG after leader/top nav */
.main-wrapper-container{ background: url('http://wcfcourier.com/app/images/bg-image.jpg') repeat-x; }

/* main content bg */
.main-body { background: #fff; }

/* default href */
a { color: #547c9d; }
a:hover { color: #333333; }

/* weather */
#site-weather { color: #666; }
#site-weather .sponsored { color: #999; }

/* top leaderboard bg */
.top-leader-wrapper { background: #333; }

/* top navigation */
.top-nav-wrapper { 
    color: #fff;
    background: #a1b2c0;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#344e64), to(#537c9d));
    background-image: -moz-linear-gradient(top, #344e64, #537c9d);
    background-image: -ms-linear-gradient(top, #344e64, #537c9d);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #344e64), color-stop(100%, #537c9d));
    background-image: -webkit-linear-gradient(top, #344e64, #537c9d);
    background-image: -o-linear-gradient(top, #344e64, #537c9d);
    background-image: linear-gradient(top, #344e64, #537c9d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#344e64', endColorstr='#537c9d', GradientType=0);
}
/* top nav links */
.top-nav-container a.parent { color: #ccc; }
.top-nav-container a.parent:hover { color: #eee; }

/* search */
/* expand color */
#search-dropdown a.parent { color: #666; }
/* search button */
#search-button { background-color: #666; }
#search-button:hover { background-color: #222; }
/* advanced search | color */
.adv-search span { color: #ddd; }

/* main navigation */
#main-navigation,
#scroll-nav-container {
    background: #a1b2c0; 
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#344e64), to(#537c9d));
    background-image: -moz-linear-gradient(top, #344e64, #537c9d);
    background-image: -ms-linear-gradient(top, #344e64, #537c9d);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #344e64), color-stop(100%, #537c9d));
    background-image: -webkit-linear-gradient(top, #344e64, #537c9d);
    background-image: -o-linear-gradient(top, #344e64, #537c9d);
    background-image: linear-gradient(top, #344e64, #537c9d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#344e64', endColorstr='#537c9d', GradientType=0);
}
/* link style */

#main-navigation li a.parent { 
    color: #fff; 
    border-left: 1px solid #a1b2c0; 
    border-right: 1px solid #333;
}

#main-navigation li a.parent:hover { background-color: #344e64; }

#main-navigation li a.parent {
    font-family: serif;
    font-size: 15px;
}


/* classified navigation */
#main-navigation ul{ width: 100%; margin-right:0; }
#get-it-nav, #jobs-nav, #homes-nav, #cars-nav, #classifieds-nav{ float:right; background: #ffda21;}
#classifieds-nav{ margin-right:1px; }
#get-it-nav {  background-color: #9ec939; }
#main-navigation li#get-it-nav a, #main-navigation li#jobs-nav a, #main-navigation li#homes-nav a, #main-navigation li#cars-nav a, #main-navigation li#classifieds-nav a {
	color: black;
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

#main-navigation li#jobs-nav a:hover, #main-navigation li#homes-nav a:hover, #main-navigation li#cars-nav a:hover, #main-navigation li#classifieds-nav a:hover {
	background: #d4b000;
}

#main-navigation li#jobs-nav a.parent.selected, #main-navigation li#homes-nav a.parent.selected, #main-navigation li#cars-nav a.parent.selected, #main-navigation li#classifieds-nav a.parent.selected {
    background: #fff;
    color: #000; 
    border-top: 2px solid #ffda21;
}
#main-navigation li#get-it-nav a:hover {
    background: #708f27;
}

#main-navigation li#get-it-nav a.parent.selected {
    background: #fff;
    color: #000; 
    border-top: 2px solid #9ec939;
}


/* selected styles */
#main-navigation li a.parent.selected { 
    background: #fff; 
    color: #000; 
    border-top: 2px solid #344e64; 
}

/* simple dropdown styles */
#main-navigation li ul.subnav.no-media a:hover { 
    background-color: rgb(52, 78, 100);
}

/* footer */
#site-footer {  color: #fff;  }
#footer-navigation { background: #222;  }
#site-footer a { color: #aaa; }
#site-footer h5 { color: #fff; }
#site-footer ul { border-bottom: 1px dotted #444; }
#site-copyright {  background: #000; }

/* submit button */
.btn.primary {
    background: #333; 
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#666), to(#444));
    background-image: -moz-linear-gradient(top, #666, #444);
    background-image: -ms-linear-gradient(top, #666, #444);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666), color-stop(100%, #444));
    background-image: -webkit-linear-gradient(top, #666, #444);
    background-image: -o-linear-gradient(top, #666, #444);
    background-image: linear-gradient(top, #666, #444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#444444', GradientType=0);
}

/* Todays Deal HP block */
.dealWidget {background:#fafce3; font-family:Arial, Helvetica, sans-serif;}
.dealBar a {display:block; height:100%; background:url(http://wcfcourier.com/app/todays-deals/graphics/TodaysDeal_logo-300.jpg) no-repeat #ffffff;}
.dealBar {width:100%; height:85px; overflow:hidden;}
.dealBody {padding:0 5px 5px;}
/* Todays Deal HP block */

.bull-list { margin: 0; }
.bull-list li { border-bottom: 1px solid #ddd; }
.bull-list li:first-child{ border-top: 1px solid #ddd; }
.bull-list li a { display: block; padding: 5px; }
ul { list-style: none !important; }

.labelsimple { float: right; padding: 0 0 0 5px; margin: 6px 0 0 0; font-weight: bold; font-size: 11px; }

.highlight_box { margin: 5px 0 25px 0; background-color: rgba(176, 196, 222, 0.1); border-bottom: 1px solid #ddd; padding: 0 5px 0 5px; }

.centerpiece p.byline { display: none; }

.top-nav-container a.parent:hover { color: #eee; }

.cal-search-container {
	background-color: #547C9D;
}

.cal-search label {
	width: 140px;
}

.topbar div > ul a, .nav a {
	padding: 10px 7px 11px 8px;
}

#hot-topics .topic-label {
	background: #B22222;
}